// Main Stylesheet

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Injects all bower_component files automatically
// bower:less
@import '../bower_components/bootstrap/less/bootstrap.less';
// endbower

// Injects all import files automatically (ex. _mypartial)
// [injector]
@import '../app/home/home.less';
// [endinjector]

.links a {
  color: white;
  margin-right: 5px;
  margin-top: 20px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ed7c6c;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
  padding: .5em 1em;
  text-decoration: none;
}



// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}


//
// Utilities
//

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }


//
// Override Bootstrap variables
//

@navbar-inverse-bg: #006181;


///////////////////////   General Page Layout   ///////////////////////

@footerHeight:                100px;
@tooltip-bg:                  @gray-light;
@tooltip-arrow-color:         @tooltip-bg;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: @footerHeight;
}

#wrap {
  padding-top: @navbar-height + 1;
  padding-bottom: @footerHeight;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footerHeight;
  background-color: #f5f5f5;
}

#filter-bar {

  background: #fff;
  border-bottom: 1px solid @hr-border;
  padding-top: 20px;
  padding-bottom: 10px;


  &.affix {
    left: 50%;
    z-index: 1;

    //
    // Center the filter bar when it's fixed in all resolutions
    //

    @media (max-width: @screen-xs-max) {
      left: auto;
    }
    @media (min-width: @screen-sm-min) {
      margin-left: -(@container-sm / 2);
    }
    @media (min-width: @screen-md-min) {
      margin-left: -(@container-md / 2);
    }
    @media (min-width: @screen-lg-min) {
      margin-left: -(@container-lg / 2);
    }
  }
  .box-shadow(0 4px 4px -2px rgba(0, 0, 0, 0.1));
}

////////////////////////   Single Kit Design   ////////////////////////

#content .row-kit {

  padding: 9px 14px;
  border-bottom: 1px solid @table-border-color;

  &:nth-of-type(odd) {
    background-color: @table-bg-accent;
  }
}

.description {
  .small;
  color: @text-muted;
  margin-bottom: 10px;
}

.labels {
  margin-bottom: 10px;
}

.icon-platform {
  max-height: @line-height-computed;
  margin: 0 2px;
}

.icon-expand {
  color: @gray-light;
  font-size: @font-size-base;
  .transition(0.1s all ease-in-out);
}

.row-title {
  cursor: pointer;
}

.row-details {
  display: none;
}

.row-kit {

  &.expanded {

    .row-details {
      .show;
    }

    .icon-expand {
      .rotate(90deg);
    }
  }
}

.website-data, .github-data, .crunchbase-data {

  font-size: 0.8em;

  .fa {
    color: @gray;
  }
}

//
// Create a custom download button
//

.btn-download {
  color: @gray-light;
  border-color: @gray-light;
  border-width: 3px;

  .transition(all 0.1s ease-in-out);


  &:hover {
    border-color: @gray-light !important;
    background-color: @gray-light !important;
    color: #fff;
    .box-shadow(none);
  }

  &:active {
    .scale(0.95);
  }

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    .box-shadow(none);
  }

}
